<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MyNotes</ion-title>
    <ion-buttons slot="end" size="small">
      <ion-button expand="block" (click)="addButtonClick()" #wrapper>
        <ion-icon name="add-circle-outline" class="icon" slot="end" ></ion-icon>
      </ion-button>
      <ion-button (click)="searchButtonClick()">
        <ion-icon name="search" class="icon" slot="end" ></ion-icon>
      </ion-button>
      <ion-button (click)="popOverClick()">
        <ion-icon name="ellipsis-vertical-outline" class="icon" slot="end" ></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="Notes">
    <ion-item button *ngFor="let note of noteList" (click)=onEditPageClick(note)>
      <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>      
      {{note.headerName}}
      <span slot="end">{{note.lastSavedTime | date: 'MMM dd'}}</span>
    </ion-item>
  </ion-list>


</ion-content>
